/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --medi-cyan: #0085a0;
  --medi-light: #f8f8f8;
  --medi-dark: #146676;
  --medi-darker: #19434c;
  --medi-grey: #005061;
}
